<!doctype html>
<html>
  <head>
    <title>The Geocities Gallery: <%= neighborhood %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <style>
      .column {
        padding: .4rem;
      }

      body {
        color: #FFFFFF;
        background: #000000;
      }
      .card {
        background: #000000;
        border: .05rem solid #525252;
      }
      a, a:visited {
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <center>
        <br>
        <h1>The Geocities Gallery</h1>
        <h2><%= neighborhood %></h2>
      </center>
      <div class="columns">
        <% sites.each do |site| %>
          <div class="column col-3 col-xs-12">
            <div class="card">
              <div class="card-image"><a href="<%= site[:relative_url] %>" target="_blank"><img class="img-responsive" src="/_assets/screenshots<%= site[:relative_url] %>/<%= site[:index_filename] %>.png"></a></div>
              <div class="card-header">
                <div class="card-title text-ellipsis"><span style="display: inline-block; width: 90%" class="text-ellipsis"><a href="<%= site[:relative_url] %>" target="_blank"><%= site[:title] %></a></span> <% if site[:has_audio] %><span style="float: right;">A</span><% end %></div>
                <div class="card-subtitle text-gray text-ellipsis"><small>www.geocities.com<%= site[:relative_url] %> <br>Last modified: <%= site[:last_updated].strftime('%F') %></small></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <center><h2><br><a href="/">Home</a><br></h2></center>
    </div>
  </body>
</html>
